/.DS_Store
/.build/
/.swiftpm/
/DerivedData/
/ios/DerivedData/
/Pods/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
*.xcuserstate
*.xcuserdatad
*.xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcshareddata/
*.xcodeproj/xcshareddata/*
*.xcworkspace/xcshareddata/
*.xcworkspace/xcshareddata/*
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xccheckout
*.moved-aside
*.xcuserstate
*.log
*.loose
*.xcsettings
*.xcassets/Storyboard\_* # referencing by pattern
.swiftpm/
Package.resolved
.idea/
*.xcworkspacedata
*.xcworkspacedata
ProfileData/
.Xcode.Playground/
*.playground/
.xcuserinterface
