<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Apollo360 uses your camera for video appointments with your care team.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Apollo360 uses Face ID to securely sign you in on this device.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Apollo360 reads your Health data to show relevant wellness insights and trends.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Apollo360 writes Health data when you choose to sync your health information.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Apollo360 uses your microphone for audio during video appointments.</string>
	<key>ORGANISATION_ID</key>
	<string>6232413757463e0001806968</string>
	<key>PP_BASE_URL</key>
	<string>https://backend.pp-a360.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>font/poppins/Poppins-Black.ttf</string>
		<string>font/poppins/Poppins-BlackItalic.ttf</string>
		<string>font/poppins/Poppins-Bold.ttf</string>
		<string>font/poppins/Poppins-BoldItalic.ttf</string>
		<string>font/poppins/Poppins-ExtraBold.ttf</string>
		<string>font/poppins/Poppins-ExtraBoldItalic.ttf</string>
		<string>font/poppins/Poppins-ExtraLight.ttf</string>
		<string>font/poppins/Poppins-ExtraLightItalic.ttf</string>
		<string>font/poppins/Poppins-Italic.ttf</string>
		<string>font/poppins/Poppins-Light.ttf</string>
		<string>font/poppins/Poppins-LightItalic.ttf</string>
		<string>font/poppins/Poppins-Medium.ttf</string>
		<string>font/poppins/Poppins-MediumItalic.ttf</string>
		<string>font/poppins/Poppins-Regular.ttf</string>
		<string>font/poppins/Poppins-SemiBold.ttf</string>
		<string>font/poppins/Poppins-SemiBoldItalic.ttf</string>
		<string>font/poppins/Poppins-Thin.ttf</string>
		<string>font/poppins/Poppins-ThinItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>VALIDIC_ORGANIZATION_ID</key>
	<string>6232413757463e0001806968</string>
	<key>VALIDIC_ORG_ID</key>
	<string>6232413757463e0001806968</string>
	<key>VALIDIC_TOKEN</key>
	<string>6d2fc49838c2bdc5f63f4a6a4c8cd5be</string>
	<key>VALIDIC_MOBILE_INFORM_URL</key>
	<string>https://mobile-inform.prod.validic.com</string>
	<key>VALIDIC_URL_V2</key>
	<string>https://api.v2.validic.com</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
</dict>
</plist>
