<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>font/poppins/Poppins-Black.ttf</string>
		<string>font/poppins/Poppins-BlackItalic.ttf</string>
		<string>font/poppins/Poppins-Bold.ttf</string>
		<string>font/poppins/Poppins-BoldItalic.ttf</string>
		<string>font/poppins/Poppins-ExtraBold.ttf</string>
		<string>font/poppins/Poppins-ExtraBoldItalic.ttf</string>
		<string>font/poppins/Poppins-ExtraLight.ttf</string>
		<string>font/poppins/Poppins-ExtraLightItalic.ttf</string>
		<string>font/poppins/Poppins-Italic.ttf</string>
		<string>font/poppins/Poppins-Light.ttf</string>
		<string>font/poppins/Poppins-LightItalic.ttf</string>
		<string>font/poppins/Poppins-Medium.ttf</string>
		<string>font/poppins/Poppins-MediumItalic.ttf</string>
		<string>font/poppins/Poppins-Regular.ttf</string>
		<string>font/poppins/Poppins-SemiBold.ttf</string>
		<string>font/poppins/Poppins-SemiBoldItalic.ttf</string>
		<string>font/poppins/Poppins-Thin.ttf</string>
		<string>font/poppins/Poppins-ThinItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
